# Project 1 Notebook for Jonathan Owens
This notebook is to keep track of the various items worked on with a place to collaborate all thoughts, ideas and creations with the team.

## Regional weather site code and elements for the region growing corn, wheat and soybeans
http://http://builder.rcc-acis.org/

- Station ID: KOMA
    - Location: Omaha Eppley Airfield
    - Region: Omaha, Nebrask
- Start date: 2000-10-26
- End date: 2020-10-28
- Elements: pcpn,avgt (percipitation, average temperature)
- Output: csv (comma seperated value)

## Regional Climate Centers (RCC) - Applied Climate Information Systems (ACIS) Documentation
    
- Documentation: http://www.rcc-acis.org/docs_webservices.html

- API URL: http://data.rcc-acis.org/StnData

- API URL ELEMENTS:

    elements = {
        sid=KOMA,
        sdate=20001026,
        edate=20201028,
        elems=pcpn,avgt,
        output=csv
        }

- Missing data values are returned as "M" and traces of precipitation, snowfall or snow depth are returned as "T".

In [1]:
# Libraries
import requests
import pandas as pd
import json
from pathlib import Path
import libs.weather as weather

In [2]:
# Initialize variables
# Station id
station_id = 'KOMA'
# Starting date, furthest back
start_date = '20001026'
# Ending date, most recent
end_date = '20201028'
# Meta data to narrow information returned
meta_data = 'name'
# Data arguments to pull, precipitation, average temperature
elements = 'pcpn,avgt'
# Output to csv or json
output_style = 'json'
# API URL string
rcc_url = f'http://data.rcc-acis.org/StnData?sid={station_id}&sdate={start_date}&edate={end_date}&meta={meta_data}&elems={elements}&output={output_style}'

In [3]:
# Fetch current data
response_data = requests.get(rcc_url)

In [4]:
# Accept json format
data = response_data.json()

In [5]:
# Print json.dumps data
#print(json.dumps(data, indent=4))

In [6]:
# Create dataframe
weather_data =  pd.DataFrame(data['data'])
#weather_data.head()

In [7]:
# Create column headings and assign
weather_data.columns = ['date', 'precipitation', 'average_temperature']
#weather_data.head()

In [8]:
# Drop rows with values of 'M'
index_rows = weather_data[weather_data.average_temperature == 'M'].index
clean_weather_data = weather_data.drop(index_rows)

In [9]:
# Replace values of 'T' with 0.0001 to represent a value other than 0 or False
# A measurement of precipitation was detected, but not provided
clean_weather_data['precipitation'] = clean_weather_data['precipitation'].replace('T', 0.0001)

In [10]:
# Change date values from object to datetime
clean_weather_data['date'] = pd.to_datetime(clean_weather_data['date'])

In [11]:
# Change precipitation values from object to type float
clean_weather_data['precipitation'] = clean_weather_data['precipitation'].astype(float)
# Change average_temperature values from object to type float
clean_weather_data['average_temperature'] = clean_weather_data['average_temperature'].astype(float)

In [12]:
# Set index to date and view clean dataframe
clean_weather_data.set_index('date', inplace=True)
clean_weather_data.head()

            precipitation  average_temperature
date
2000-10-26         0.0001                 62.0
2000-10-27         0.0000                 54.5
2000-10-28         0.0001                 56.5
2000-10-29         0.6800                 56.5
2000-10-30         0.0000                 60.0

In [13]:
# Testing weather library and function
returned_data = weather.get_precipitation_and_average_temperature('KOMA', '20001026', '20201028')
returned_data.head()

            precipitation  average_temperature
date
2000-10-26         0.0001                 62.0
2000-10-27         0.0000                 54.5
2000-10-28         0.0001                 56.5
2000-10-29         0.6800                 56.5
2000-10-30         0.0000                 60.0

### Build dataframe of three stations, 'KOMA', 'KCDR', 'KMCK'

In [14]:
# Build dataframe of three stations, 'KOMA', 'KCDR', 'KMCK'
# Grab dataframe from first station
df_test = weather.get_precipitation_and_average_temperature('KOMA', '20001026', '20201028')
df_test.head()

            precipitation  average_temperature
date
2000-10-26         0.0001                 62.0
2000-10-27         0.0000                 54.5
2000-10-28         0.0001                 56.5
2000-10-29         0.6800                 56.5
2000-10-30         0.0000                 60.0

In [15]:
# Grab dataframe from second station
df2_test = weather.get_precipitation_and_average_temperature('KCDR', '20001026', '20201028')
df2_test.head()

            precipitation  average_temperature
date
2000-10-26           0.00                 48.0
2000-10-27           0.00                 46.5
2000-10-28           0.32                 57.5
2000-10-29           0.75                 46.5
2000-10-30           0.00                 50.5

In [16]:
# Grab dataframe from third station
df3_test = weather.get_precipitation_and_average_temperature('KMCK', '20001026', '20201028')
print(df3_test)

            precipitation  average_temperature
date
2000-10-26         0.0000                 56.5
2000-10-27         0.0500                 53.5
2000-10-28         1.7100                 60.0
2000-10-29         0.3100                 53.5
2000-10-30         0.0000                 56.5
...                   ...                  ...
2020-10-24         0.0000                 28.5
2020-10-25         0.0001                 24.5
2020-10-26         0.0900                 16.0
2020-10-27         0.0000                 17.5
2020-10-28         0.0000                 37.0

[7289 rows x 2 columns]

In [19]:
# Average the precipitations and temperatures from three stations
print((df_test + df2_test + df3_test) / 3)

            precipitation  average_temperature
date
2000-10-26       0.000033            55.500000
2000-10-27       0.016667            51.500000
2000-10-28       0.676700            58.000000
2000-10-29       0.580000            52.166667
2000-10-30       0.000000            55.666667
...                   ...                  ...
2020-10-24       0.000033            28.333333
2020-10-25       0.023400            22.333333
2020-10-26       0.043333            16.000000
2020-10-27       0.000000            21.833333
2020-10-28       0.000000            37.666667

[7308 rows x 2 columns]

In [ ]:
# Function to call multiple stations in a specified state based on a timeframe with a selected output format: dataframe or csv file
def from_state(state_name, start_date, end_date, return_format):
    # Initialize variables
    # Dictionary of states and station codes
    # Can create a connection to a sql db in the future to store this information for data growth
    state_station_codes = {
        'NE': ['KOMA', 'KCDR', 'KMCK'],
        'IA': ['KCID', 'KDSM', 'KALO'],
        'IL': ['KORD', 'KMDW', 'KSPI']
        }
    list_of_stations = []
    state_df = pd.DataFrame()

    # Check for valid arguments passed in by user
    if state_name == 'NE' or 'IA' or 'IL':
        # Get station ids for selected state
        list_of_stations = state_station_codes[state_name]

        # Get station data for each station
        for station in list_of_stations:
            state_df = weather.get_precipitation_and_average_temperature(station, start_date, end_date)
            print(state_df.head())
        # Add all station data into one dataframe

        # Calculate average of combine data values
        
        
        # Return state dateframe
        if return_format == 'df':
            return state_df

        # Output to csv file
        elif return_format == 'csv':
            # Create output path and write data to csv
            csv_output_path = Path('../data/clean_data/test_state_weather_data.csv')
            state_df.to_csv(csv_output_path)
        else:
            # Return message that return format not found
            return 'Return format specified not found.  Pass in df or csv as a string.'
    else: 
        # Return message that state not found
        return 'State not found.  Pass in NE, IA or IL as a string.'

In [18]:
response = from_state('NE', '20001026', '20201028','df')
response.head()

NameError: name 'from_state' is not defined