# Project 1 Notebook for Jonathan Owens
This notebook is to keep track of the various items worked on with a place to collaborate all thoughts, ideas and creations with the team.

## Regional weather site code and elements for the region growing corn, wheat and soybeans
http://http://builder.rcc-acis.org/

- Station ID: KOMA
    - Location: Omaha Eppley Airfield
    - Region: Omaha, Nebrask
- Start date: 2000-10-26
- End date: 2020-10-28
- Elements: pcpn,avgt (percipitation, average temperature)
- Output: csv (comma seperated value)

## Regional Climate Centers (RCC) - Applied Climate Information Systems (ACIS) Documentation
    
- Documentation: http://www.rcc-acis.org/docs_webservices.html

- API URL: http://data.rcc-acis.org/StnData

- API URL ELEMENTS:

    elements = {
        sid=KOMA,
        sdate=20001026,
        edate=20201028,
        elems=pcpn,avgt,
        output=csv
        }

- Missing data values are returned as "M" and traces of precipitation, snowfall or snow depth are returned as "T".

In [40]:
# Libraries
import requests
import pandas as pd
import json
import libs.weather as weather

In [41]:
# Initialize variables
# Station id
station_id = 'KOMA'
# Starting date, furthest back
start_date = '20001026'
# Ending date, most recent
end_date = '20201028'
# Meta data to narrow information returned
meta_data = 'name'
# Data arguments to pull, precipitation, average temperature
elements = 'pcpn,avgt'
# Output to csv or json
output_style = 'json'
# API URL string
rcc_url = f'http://data.rcc-acis.org/StnData?sid={station_id}&sdate={start_date}&edate={end_date}&meta={meta_data}&elems={elements}&output={output_style}'

In [42]:
# Fetch current data
response_data = requests.get(rcc_url)

In [43]:
# Accept json format
data = response_data.json()

In [44]:
# Print json.dumps data
#print(json.dumps(data, indent=4))

In [45]:
# Create dataframe
weather_data =  pd.DataFrame(data['data'])
weather_data.head()

            0     1     2
0  2000-10-26     T  62.0
1  2000-10-27  0.00  54.5
2  2000-10-28     T  56.5
3  2000-10-29  0.68  56.5
4  2000-10-30  0.00  60.0

In [46]:
# Create column headings and assign
weather_data.columns = ['date', 'precipitation', 'average_temperature']
weather_data.head()

         date precipitation average_temperature
0  2000-10-26             T                62.0
1  2000-10-27          0.00                54.5
2  2000-10-28             T                56.5
3  2000-10-29          0.68                56.5
4  2000-10-30          0.00                60.0

In [47]:
# Drop rows with values of 'M'
index_rows = weather_data[weather_data.average_temperature == 'M'].index
clean_weather_data = weather_data.drop(index_rows)

In [48]:
# Replace values of 'T' with 0.0001 to represent a value other than 0 or False
# A measurement of precipitation was detected, but not provided
clean_weather_data['precipitation'] = clean_weather_data['precipitation'].replace('T', 0.0001)

In [49]:
# Change date values from object to datetime
clean_weather_data['date'] = pd.to_datetime(clean_weather_data['date'])

In [50]:
# Change precipitation values from object to type float
clean_weather_data['precipitation'] = clean_weather_data['precipitation'].astype(float)
# Change average_temperature values from object to type float
clean_weather_data['average_temperature'] = clean_weather_data['average_temperature'].astype(float)

In [51]:
# Set index to date and view clean dataframe
clean_weather_data.set_index('date', inplace=True)
clean_weather_data.head()

            precipitation  average_temperature
date
2000-10-26         0.0001                 62.0
2000-10-27         0.0000                 54.5
2000-10-28         0.0001                 56.5
2000-10-29         0.6800                 56.5
2000-10-30         0.0000                 60.0

In [52]:
def get_precipitation_and_average_temperature(station_id='KOMA', start_date='20001026', end_date='20201026'):
    # API URL string
    rcc_url = f'http://data.rcc-acis.org/StnData?sid={station_id}&sdate={start_date}&edate={end_date}&meta=name&elems=pcpn,avgt&output=json'
    # Fetch current data
    response_data = requests.get(rcc_url)
    # Accept json format
    data = response_data.json()
    # Create dataframe
    weather_data =  pd.DataFrame(data['data'])

    # Create column headings and assign
    weather_data.columns = ['date', 'precipitation', 'average_temperature']

    # Drop rows with values of 'M'
    index_rows = weather_data[weather_data.average_temperature == 'M'].index
    clean_weather_data = weather_data.drop(index_rows)
    # Replace values of 'T' with 0.0001 to represent a value other than 0 or False
    # A measurement of precipitation was detected, but not provided
    clean_weather_data['precipitation'] = clean_weather_data['precipitation'].replace('T', 0.0001)

    # Change date values from object to datetime
    clean_weather_data['date'] = pd.to_datetime(clean_weather_data['date'])
    # Change precipitation values from object to type float
    clean_weather_data['precipitation'] = clean_weather_data['precipitation'].astype(float)
    # Change average_temperature values from object to type float
    clean_weather_data['average_temperature'] = clean_weather_data['average_temperature'].astype(float)

    # Set date index
    clean_weather_data.set_index('date', inplace=True)

    # Return clean weather data
    return clean_weather_data

In [53]:
# Testing weather function above
df = get_precipitation_and_average_temperature('KOMA', 20201015, 20201028)
df.head()

            precipitation  average_temperature
date
2020-10-15         0.0000                 47.5
2020-10-16         0.0000                 46.5
2020-10-17         0.0001                 56.0
2020-10-18         0.2300                 38.5
2020-10-19         0.0100                 40.0

In [54]:
# Testing weather library and method  
returned_data = weather.get_precipitation_and_average_temperature()
returned_data.head()

            precipitation  average_temperature
date
2000-10-26         0.0001                 62.0
2000-10-27         0.0000                 54.5
2000-10-28         0.0001                 56.5
2000-10-29         0.6800                 56.5
2000-10-30         0.0000                 60.0

In [59]:
# Build dataframe of three stations, 'KOMA', 'KCDR', 'KMCK'
df = weather.get_precipitation_and_average_temperature('KOMA', '20201020', '20201028')
df2 = weather.get_precipitation_and_average_temperature('KCDR', '20201020', '20201028')
df3 = weather.get_precipitation_and_average_temperature('KMCK', '20201020', '20201028')

In [62]:
# Average the precipitations and temperatures
print((df + df2 + df3) / 3)

            precipitation  average_temperature
date
2020-10-20       0.006700            44.166667
2020-10-21       0.006700            42.500000
2020-10-22       0.026733            36.000000
2020-10-23       0.000033            29.000000
2020-10-24       0.000033            28.333333
2020-10-25       0.023400            22.333333
2020-10-26       0.043333            16.000000
2020-10-27       0.000000            21.833333
2020-10-28       0.000000            37.666667