In [6]:
#import dependencies
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
import requests
import json
from pprint import pprint
from datetime import datetime
from libs.usda import pull_usda_data

In [7]:
#assign usda api key
load_dotenv()
usda_api_key = os.getenv('usda_api_key')

In [34]:
#assign paramenter variables
# commodity_dict = {'CORN' : ['PRODUCTION', 'STOCKS'], 'SOYBEANS' : ['PRODUCTION', 'STOCKS']}

commodity = 'CORN'
statistic = 'PRODCUTION'
data_level = 'STATE'
state = 'NE'
year = 2020
data_columns = ['commodity_desc', 'statisticcat_desc', 'util_practice_desc', 'unit_desc', 'state_alpha', 'year', 'freq_desc', 'Value']

In [35]:
test = pull_usda_data(usda_api_key, commodity, statistic, state, year)

In [36]:
test.head()

,commodity_desc,state_alpha,statisticcat_desc,util_practice_desc,unit_desc,state_alpha,freq_desc,year,reference_period_desc,Value
0,CORN,NE,STOCKS,GRAIN,BU,NE,POINT IN TIME,2020,FIRST OF MAR,993613000
1,CORN,NE,STOCKS,GRAIN,BU,NE,POINT IN TIME,2020,FIRST OF JUN,571963000
2,CORN,NE,STOCKS,GRAIN,BU,NE,POINT IN TIME,2020,FIRST OF SEP,238918000
3,CORN,NE,STOCKS,GRAIN,BU,NE,POINT IN TIME,2019,FIRST OF MAR,1006439000
4,CORN,NE,STOCKS,GRAIN,BU,NE,POINT IN TIME,2019,FIRST OF JUN,571797000

In [38]:
test.to_csv(f'../data/clean_data/corn_production_annual.csv')