In [3]:
#import dependencies
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [14]:
prices_df = pd.read_csv(f'../data/clean_data/hist_daily_stock_fut_price.csv', parse_dates = True, index_col = 0)

prices_df = prices_df[['corn', 'cornf']]

prices_df.head()

             corn   cornf
2011-09-19  45.65  692.25
2011-09-20  45.54  690.25
2011-09-21  44.80  685.75
2011-09-22  42.99  650.00
2011-09-23  42.45  638.50